<!-- connectedin/perfis/templates/perfil.html -->
<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="utf-8">
        <title>ConnectedIn</title>
    </head>
    <body>
         <h1>Detalhe Perfil</h1>
         <table border="0">
         	<tr>
         		<th>nome </th>
         		<th>email </th>
         		<th>telefone </th>
         		<th>empresa </th>
         		
         	</tr>
         	<tr>
         		<td>{{perfil.nome}}</td>
         		<td>{{perfil.email}}</td>
         		<td>{{perfil.telefone}}</td>
         		<td>{{perfil.nome_empresa}}</td>
         	</tr>
         </table>
    </body>
</html>